<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Maintenance</title>
    <style media="screen">
      h1{
        color: white;
        background-color: blue;
        text-align: center;
        padding: 10px;
      }
    </style>
  </head>
  <body>
    <h1>The site is under Maintenance</h1>
  </body>
</html>
